@CHARSET "UTF-8";
/*!
 * @名称：base.css
 * @功能：1、重设浏览器默认样式
 *      2、设置通用原子类
 */
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    background:white;
    color:black;
	font-size: 12px;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	font-size: 12px;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
	
}

.form_div {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 400px;
}

.tab {
    font-size: 12px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.tab td {
    padding-right: 10px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.tab .td_remark {
    background-color: #f5f5f5;
    text-align: right;
    height: 40px;
    width: 120px
}

.text {
    border: 1px solid #bfbfbf;
    width: 200px;
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
    padding-left: 5px;
}

.text:focus {
    background: #ffffee;
}

.width300 {
    width: 200px;
    height: 100px;
    line-height: 20px;
}